<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/vue.min.js" ></script>
	</head>
	<body>
		<div id="app">
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" />
					</li>
					<li>
						<p>容器背景图：</p>
						<input class="boxbackground" type="text" value="800.jpg" />
					</li>
					<li>
						<p>logo图片：</p>
						<input class="logosrc" type="text" value="logo1.png" />
					</li>
					<li>
						<p>标题内容：</p>
						<input class="box-title-text" type="text" value="袋鼠的故事" />
					</li>
					<li>
						<p>标题文字颜色：</p>
						<input class="title-text-color"  type="color" />
					</li>
					<li>
						<p>标题字体大小：</p>
						<input class="title-text-size" type="text" value="20" />
					</li>
					<li>
						<p>段落文字颜色：</p>
						<input class="text1-color" type="color" />
					</li>
					<li>
						<p>段落文字大小：</p>
						<input class="text1-size" type="text" value="16"/>
					</li>
					<li>
						<p>段落文字行高：</p>
						<input class="text1-height" type="text" value="24"/>
					</li>
					<li>
						<p>段落1：</p>
						<textarea class="p1-text" name="" rows="" cols="">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</textarea>
					</li>
					<li>
						<p>段落2：</p>
						<textarea class="p2-text" name="" rows="" cols="">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</textarea>
					</li>
					<li>
						<p>段落3：</p>
						<textarea class="p3-text" name="" rows="" cols="">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</textarea>
					</li>
				</ul>
				<button class="btn">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="template-content">
					<img class="logo" src="img/logo1.png" />
					<h3 class="title-text">袋鼠的故事</h3>
					<p class="text1 p1">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</p>
					<p class="text1 p2">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</p>
					<p class="text1 p3">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</p>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" v-model="w2" />
					</li>									
					<li>
						<p>大标题内容：</p>
						<input class="box-title-text" type="text" value="表彰大会" v-model="conference" />
					</li>
					<li>
						<p>英文内容：</p>
						<input class="box-title-text" type="text" value="You are invited to the meeting" v-model="english" />
					</li>
					<li>
						<p>小标题内容：</p>
						<input class="box-title-text " type="text" value="~ 年度优秀员工表彰大会 ~" v-model="conference2"/>
					</li>
					<li>
						<p>公司名称：</p>
						<input class="box-title-text " type="text" value="深圳市深蓝软件南宁分公司" v-model="companyname"/>
					</li>
					<li>
						<p>时间：</p>
						<input class="box-title-text " type="text" value="2020.05.22" v-model="mytime"/>
					</li>
				</ul>
				<button class="btn" v-on:click="fn2()">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back boxfirst">
					<h2 class="conference">表彰大会</h2>
					<p class="english">You are invited to the meeting</p>
					<h4 class="conference2">~ 年度优秀员工表彰大会 ~</h4>
					<h5 class="companyname">深圳市深蓝软件南宁分公司</h5>
					<time class="mytime">2020.05.22</time>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" v-model="w3" />
					</li>									
					<li>
						<p>大标题内容：</p>
						<input class="box-title-text" type="text" value="表彰通知" v-model="conference3" />
					</li>
					<li>
						<p>称呼：</p>
						<input class="box-title-text" type="text"  v-model="name3" />
					</li>
					<li>
						<p>段落1：</p>
						<input class="box-title-text " type="text"  v-model="w3p1"/>
					</li>
					<li>
						<p>段落2：</p>
						<input class="box-title-text " type="text"  v-model="w3p2"/>
					</li>
					<li>
						<p>段落3：</p>
						<input class="box-title-text " type="text"  v-model="w3p3"/>
					</li>
					<li>
						<p>公司：</p>
						<input class="box-title-text " type="text"  v-model="companyname3"/>
					</li>
					<li>
						<p>时间：</p>
						<input class="box-title-text " type="text"  v-model="mytime3"/>
					</li>
				</ul>
				<button class="btn" v-on:click="fn3()">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back w3">
					<div class="box-back2"></div>
					<div class="box-content">
						<div class="content-title conference3">表彰通知</div>
						<p class="text-left name3">公司各部门及全体员工：</p>
						<p class="text1 w3p1">***等同志入职以来工作兢兢业业、认真负责，并且吃苦耐劳，能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
						<p class="text1 w3p2">经公司研究决定，特提出表扬，并对以上人员进行嘉奖！</p>
						<p class="text1 w3p3">希望公司全体员工以他们为榜样，努力进取、团结协作，为公司的发展贡献自己的最大力量！</p>
						<p class="text-right companyname3">中网易企秀科技有限公司</p>
						<p class="text-right mytime3">2019.04.25</p>
					</div>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" />
					</li>
					<li>
						<p>容器背景图：</p>
						<input class="boxbackground" type="text" value="800.jpg" />
					</li>
					<li>
						<p>logo图片：</p>
						<input class="logosrc" type="text" value="logo1.png" />
					</li>
					<li>
						<p>标题内容：</p>
						<input class="box-title-text" type="text" value="袋鼠的故事" />
					</li>
					<li>
						<p>标题文字颜色：</p>
						<input class="title-text-color"  type="color" />
					</li>
					<li>
						<p>标题字体大小：</p>
						<input class="title-text-size" type="text" value="20" />
					</li>
					<li>
						<p>段落文字颜色：</p>
						<input class="text1-color" type="color" />
					</li>
					<li>
						<p>段落文字大小：</p>
						<input class="text1-size" type="text" value="16"/>
					</li>
					<li>
						<p>段落文字行高：</p>
						<input class="text1-height" type="text" value="24"/>
					</li>
					<li>
						<p>段落1：</p>
						<textarea class="p1-text" name="" rows="" cols="">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</textarea>
					</li>
					<li>
						<p>段落2：</p>
						<textarea class="p2-text" name="" rows="" cols="">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</textarea>
					</li>
					<li>
						<p>段落3：</p>
						<textarea class="p3-text" name="" rows="" cols="">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</textarea>
					</li>
				</ul>
				<button class="btn">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back">
					<div class="box-back2"></div>
					<div class="box-content staff">
						<div class="content-title">优秀员工</div>
						<img src="img/obj1.jpg" />
						<div class="myname">王丽丽</div>
						<div class="duty">霸道总裁</div>
						<div class="line"></div>
						<p class="text1 intro">***等同志入职以来工作兢兢业业、认真负责，并且吃苦耐劳，能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" />
					</li>
					<li>
						<p>容器背景图：</p>
						<input class="boxbackground" type="text" value="800.jpg" />
					</li>
					<li>
						<p>logo图片：</p>
						<input class="logosrc" type="text" value="logo1.png" />
					</li>
					<li>
						<p>标题内容：</p>
						<input class="box-title-text" type="text" value="袋鼠的故事" />
					</li>
					<li>
						<p>标题文字颜色：</p>
						<input class="title-text-color"  type="color" />
					</li>
					<li>
						<p>标题字体大小：</p>
						<input class="title-text-size" type="text" value="20" />
					</li>
					<li>
						<p>段落文字颜色：</p>
						<input class="text1-color" type="color" />
					</li>
					<li>
						<p>段落文字大小：</p>
						<input class="text1-size" type="text" value="16"/>
					</li>
					<li>
						<p>段落文字行高：</p>
						<input class="text1-height" type="text" value="24"/>
					</li>
					<li>
						<p>段落1：</p>
						<textarea class="p1-text" name="" rows="" cols="">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</textarea>
					</li>
					<li>
						<p>段落2：</p>
						<textarea class="p2-text" name="" rows="" cols="">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</textarea>
					</li>
					<li>
						<p>段落3：</p>
						<textarea class="p3-text" name="" rows="" cols="">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</textarea>
					</li>
				</ul>
				<button class="btn">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back">
					<div class="box-back2"></div>
					<div class="box-content staff">
						<div class="content-title">优秀员工</div>
						<div class="staff-box">
							<img src="img/obj2.jpg" />
							<div class="introduce-box">
								<div class="duty-box">
									<span class="myname">王小明</span>
									<span class="myduty">公司宣传部 宣传干事</span>
								</div>
								<p class="text1">能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" />
					</li>
					<li>
						<p>容器背景图：</p>
						<input class="boxbackground" type="text" value="800.jpg" />
					</li>
					<li>
						<p>logo图片：</p>
						<input class="logosrc" type="text" value="logo1.png" />
					</li>
					<li>
						<p>标题内容：</p>
						<input class="box-title-text" type="text" value="袋鼠的故事" />
					</li>
					<li>
						<p>标题文字颜色：</p>
						<input class="title-text-color"  type="color" />
					</li>
					<li>
						<p>标题字体大小：</p>
						<input class="title-text-size" type="text" value="20" />
					</li>
					<li>
						<p>段落文字颜色：</p>
						<input class="text1-color" type="color" />
					</li>
					<li>
						<p>段落文字大小：</p>
						<input class="text1-size" type="text" value="16"/>
					</li>
					<li>
						<p>段落文字行高：</p>
						<input class="text1-height" type="text" value="24"/>
					</li>
					<li>
						<p>段落1：</p>
						<textarea class="p1-text" name="" rows="" cols="">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</textarea>
					</li>
					<li>
						<p>段落2：</p>
						<textarea class="p2-text" name="" rows="" cols="">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</textarea>
					</li>
					<li>
						<p>段落3：</p>
						<textarea class="p3-text" name="" rows="" cols="">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</textarea>
					</li>
				</ul>
				<button class="btn">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back">
					<div class="box-back2"></div>
					<div class="box-content staff">
						<div class="content-title">优秀员工</div>
						<div class="staff1">
							<div>
								<img src="img/obj1.jpg" />
								<h4>王小明</h4>
							</div>
							<p>能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
						</div>
						<div class="line line1"></div>
						<div class="staff1">
							<div>
								<img src="img/obj1.jpg" />
								<h4>王小明</h4>
							</div>
							<p>能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" />
					</li>
					<li>
						<p>容器背景图：</p>
						<input class="boxbackground" type="text" value="800.jpg" />
					</li>
					<li>
						<p>logo图片：</p>
						<input class="logosrc" type="text" value="logo1.png" />
					</li>
					<li>
						<p>标题内容：</p>
						<input class="box-title-text" type="text" value="袋鼠的故事" />
					</li>
					<li>
						<p>标题文字颜色：</p>
						<input class="title-text-color"  type="color" />
					</li>
					<li>
						<p>标题字体大小：</p>
						<input class="title-text-size" type="text" value="20" />
					</li>
					<li>
						<p>段落文字颜色：</p>
						<input class="text1-color" type="color" />
					</li>
					<li>
						<p>段落文字大小：</p>
						<input class="text1-size" type="text" value="16"/>
					</li>
					<li>
						<p>段落文字行高：</p>
						<input class="text1-height" type="text" value="24"/>
					</li>
					<li>
						<p>段落1：</p>
						<textarea class="p1-text" name="" rows="" cols="">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</textarea>
					</li>
					<li>
						<p>段落2：</p>
						<textarea class="p2-text" name="" rows="" cols="">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</textarea>
					</li>
					<li>
						<p>段落3：</p>
						<textarea class="p3-text" name="" rows="" cols="">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</textarea>
					</li>
				</ul>
				<button class="btn">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back">
					<div class="box-back2"></div>
					<div class="box-content staff">
						<div class="content-title">优秀员工</div>
						<div class="staff1 staff2">
							<div>
								<img src="img/obj1.jpg" />
							</div>
							<section>
								<h4>王小明</h4>
								<p>能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
							</section>
						</div>
						<div class="line line1"></div>
						<div class="staff1 staff2">
							<section>
								<h4>王小明</h4>
								<p>能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
							</section>
							<div>
								<img src="img/obj1.jpg" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" />
					</li>
					<li>
						<p>容器背景图：</p>
						<input class="boxbackground" type="text" value="800.jpg" />
					</li>
					<li>
						<p>logo图片：</p>
						<input class="logosrc" type="text" value="logo1.png" />
					</li>
					<li>
						<p>标题内容：</p>
						<input class="box-title-text" type="text" value="袋鼠的故事" />
					</li>
					<li>
						<p>标题文字颜色：</p>
						<input class="title-text-color"  type="color" />
					</li>
					<li>
						<p>标题字体大小：</p>
						<input class="title-text-size" type="text" value="20" />
					</li>
					<li>
						<p>段落文字颜色：</p>
						<input class="text1-color" type="color" />
					</li>
					<li>
						<p>段落文字大小：</p>
						<input class="text1-size" type="text" value="16"/>
					</li>
					<li>
						<p>段落文字行高：</p>
						<input class="text1-height" type="text" value="24"/>
					</li>
					<li>
						<p>段落1：</p>
						<textarea class="p1-text" name="" rows="" cols="">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</textarea>
					</li>
					<li>
						<p>段落2：</p>
						<textarea class="p2-text" name="" rows="" cols="">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</textarea>
					</li>
					<li>
						<p>段落3：</p>
						<textarea class="p3-text" name="" rows="" cols="">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</textarea>
					</li>
				</ul>
				<button class="btn">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back">
					<div class="box-back2"></div>
					<div class="box-content staff">
						<div class="content-title">优秀员工</div>
						<img class="obj3" src="img/obj3.jpg" />	
						<div class="line line1 line2"></div>
						<p class="p2">能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。能克服工作中的遇到的困难，深受领导和其他同事的好评。积极的工作态度体现了专业职业素养和极高的执行力。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="template">
			<div class="template-left">
				<h1>参数设置：</h1>
				<ul class="set-list">
					<li>
						<p>容器宽度：</p>
						<input class="boxwidth" type="text" value="400" />
					</li>
					<li>
						<p>容器背景图：</p>
						<input class="boxbackground" type="text" value="800.jpg" />
					</li>
					<li>
						<p>logo图片：</p>
						<input class="logosrc" type="text" value="logo1.png" />
					</li>
					<li>
						<p>标题内容：</p>
						<input class="box-title-text" type="text" value="袋鼠的故事" />
					</li>
					<li>
						<p>标题文字颜色：</p>
						<input class="title-text-color"  type="color" />
					</li>
					<li>
						<p>标题字体大小：</p>
						<input class="title-text-size" type="text" value="20" />
					</li>
					<li>
						<p>段落文字颜色：</p>
						<input class="text1-color" type="color" />
					</li>
					<li>
						<p>段落文字大小：</p>
						<input class="text1-size" type="text" value="16"/>
					</li>
					<li>
						<p>段落文字行高：</p>
						<input class="text1-height" type="text" value="24"/>
					</li>
					<li>
						<p>段落1：</p>
						<textarea class="p1-text" name="" rows="" cols="">一天动物园管理员发现袋鼠从笼子里跑出来了，于是开会讨论，一致认为是笼子的高度过低。所以他们决定将笼子的高度由原来的10米加高到20米。结果第二天他们发现袋鼠还是跑到外面来，所以他们又决定再将高度加高到30米。</textarea>
					</li>
					<li>
						<p>段落2：</p>
						<textarea class="p2-text" name="" rows="" cols="">没想到隔天居然又看到袋鼠全跑到外面，于是管理员们大为紧张，决定一不做二不休，将笼子的高度加高到100米。</textarea>
					</li>
					<li>
						<p>段落3：</p>
						<textarea class="p3-text" name="" rows="" cols="">一天长颈鹿和几只袋鼠们在闲聊，“你们看，这些人会不会再继续加高你们的笼子？长颈鹿问。“很难说。袋鼠说∶“如果他们再继续忘记关门的话！</textarea>
					</li>
				</ul>
				<button class="btn">保存</button>
			</div>
			<div class="template-right">
				<h1>效果展示：</h1>
				<div class="box-back">
					<div class="box-back2"></div>
					<div class="box-content staff ostaff">
						<div class="content-title">微信二维码</div>
						<img class="obj3" src="img/ma.jpg" />	
						<p class="p3"><<<<扫码关注我，获取更多信息>>>>></扫码关注我，获取更多信息></p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script src="js/02.js" type="text/javascript" charset="utf-8"></script>
</html>
